body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    text-align: left;
    width: 375px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
h1 {
    font-weight: 700;
    font-size: 30px;
    color: hsl(237, 12%, 33%);
    margin-top: 38px;
    margin-bottom: 30px;
}
.main {
    background-color: white;
    width: 337px;
    /* height: 543px; */
    min-height: 543px;
    padding-bottom: 48;
    margin: 149px auto 87px auto;
    border-radius: 30px;
}
.images {
    width: 240px;
    height: 100px;
    display: inline-block;
    position: relative;
    left: 50px;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position: 0px -135px;
    /* background-clip: content-box; */
    background-size: 240px;
}
#woman-img {
    width: 240px;
    position: absolute;
    left: 0px;
    top: -110px;
    /* object-fit: cover; */
    /* clip: rect(auto auto auto 77px); */
    z-index: 2;
}
#box-img {
    position: absolute;
    left: -4px;
    top: -39px;
    width: 95px;
    /* object-fit: cover; */
    z-index: 3;
}
.FAQ {
    width: 337px;
    /* height: 514px; */
    display: inline-block;
    text-align: center;
    position: relative;
    /* top: 180px;
    left: 750px; */
}
.accordion {
    background-color: white;
    color: hsl(240, 6%, 50%);
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    padding: 18px 0;
    width: 279px;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: hsl(240, 5%, 91%);
    outline: none;
    /* transition: 0.4s; */
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active {
    background-color: white;
    border: none;
    font-weight: 700;
    color: hsl(237, 12%, 33%);
  }
  .accordion:hover {
    background-color: white;
    color: hsl(14, 88%, 65%);
  }
  .accordion:after {
    content: url(../images/icon-arrow-down.svg);
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: url(../images/icon-arrow-down.svg);
    transform: rotate(180deg);
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    color: hsl(240, 6%, 50%);
    padding: 0 0 12px 0;
    margin: 0 auto;
    background-color: white;
    display: none;
    overflow: hidden;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: hsl(240, 5%, 91%);
    max-height: 4em;
    width: 279px;
    transition: max-height 0.2s ease-out;
    text-align: left;
  }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */